<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.7//EN" "http://support.jalios.com/dtd/jcms-plugin-1.7.dtd">

<plugin name="SoclePlugin" version="0.1" author="DEP44" license="DEP44" initialize="true" jcms="" order="0" url="" jsync="true" appserver="">

  <label xml:lang="fr">Socle technique</label>
  <description xml:lang="fr">Socle technique</description>

  <types>
    <type name="AbstractElement"></type>
    <type name="AccueilAnnuaireAgenda"></type>
    <type name="AccueilDelegation"></type>
    <type name="Actualite"></type>
    <type name="AlertCG"></type>
    <type name="Article"></type>
    <type name="ArticleGeolocalise"></type>
    <type name="Canton"></type>
    <type name="Carousel"></type>
    <type name="CarouselElement"></type>
    <type name="Chapitre"></type>
    <type name="City"></type>
    <type name="CollectivityArticle"></type>
    <type name="CommuneHorsDepartement"></type>
    <type name="ContenuDeTest"></type>
    <type name="CultureProfessionalCard"></type>
    <type name="Delegation"></type>
    <type name="Directory"></type>
    <type name="Dossier"></type>
    <type name="ElectedMember"></type>
    <type name="Equipement"></type>
    <type name="FicheActionEducative"></type>
    <type name="FicheActu"></type>
    <type name="FicheAide"></type>  
    <type name="FicheArticle"></type>
    <type name="FicheLieu"></type>  
    <type name="Help"></type>
    <type name="Magazine"></type>
    <type name="MarchePublic"></type>
    <type name="News"></type>
    <type name="Place"></type>
    <type name="PortletRechercheFacettes"></type> 
    <type name="ResultatDeRecherche"></type>
    <type name="SAAD"></type>
    <type name="Show"></type>
    <type name="SeniorCitizensEstablishment"></type>
    <type name="Tuile"></type>
    <type name="WelcomeSection"></type>
    <type name="WysiwygBlock"></type>
    <type name="Video"></type>
    <type name="PageCarrefour"></type>
    
    
    <!-- Types de contenus -->    
    <templates type="Actualite">
        <template name="default" file="doActualiteFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="AccueilAnnuaireAgenda">
        <template name="default" file="doAccueilAnnuaireAgendaFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="AccueilDelegation">
        <template name="default" file="doAccueilDelegationFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Article">
        <template name="default" file="doArticleFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>  
    <templates type="Dossier">
        <template name="default" file="doDossierFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FicheActionEducative">
        <template name="default" file="doFicheActionEducativeFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates> 
    <templates type="FicheActu">
        <template name="default" file="doFicheActuFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FicheAide">
        <template name="default" file="doFicheAideFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>    
    <templates type="FicheArticle">
        <template name="default" file="doFicheArticleFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>    
    <templates type="FicheLieu">
        <template name="default" file="doFicheLieuFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Tuile">
        <template name="default" file="doTuileFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>  
    <templates type="CarouselElement">
        <template name="default" file="doCarouselElementFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="CollectivityArticle">
        <template name="embed" file="doCollectivityArticleEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
        <template name="refonte" file="doCollectivityArticleFullDisplayRefonte.jsp" usage="full">
            <label xml:lang="fr">Gabarit full pour la refonte</label>
        </template>
    </templates>
    <templates type="FileDocument">
        <template name="embed" file="doFileDocumentEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
    </templates>
    <templates type="News">
        <template name="default" file="newsQueryDisplay.jsp" usage="query">
            <label xml:lang="fr">Gabarit de résultats dans la page "Actualités"</label>
        </template>
        <template name="default" file="newsFullDisplay.jsp" usage="full">
            <label xml:lang="fr">Actualité en pleine page</label>
      </template>
    </templates>    
    <templates type="Video">
        <template name="embed" file="doVideoEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
        <template name="full" file="doVideoFullDisplay.jsp" usage="full">
            <label xml:lang="fr">Gabarit full pour la refonte</label>
        </template>
    </templates>
    <templates type="PageCarrefour">
        <template name="default" file="doPageCarrefourFullDisplay.jsp" usage='full'>
            <label xml:lang="fr">DS44 : gabarit Spécifique</label>
        </template>
    </templates>    
    
    <!-- Portlets -->
    <templates type="AbstractPortletSkinable">
        <template name="simpleTitle" file="doAbstractPortletSkinableSimpleTitleResultDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : habillage simple titre</label>
        </template>
    </templates>    
    <templates type="PortletDecorator">
        <template name="dark" file="doPortletDecoratorFullDisplayDarkBackground.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit fond gris avec titre et description</label>
        </template>
        <template name="light" file="doPortletDecoratorFullDisplayLightBackground.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit fond clair avec titre et description</label>
        </template>
    </templates>    
    <templates type="PortletNavigate">
        <template name="menuCollapse" file="doPortletNavigateMenuCollapseFullDisplay.jsp" usage='box'>
          <label xml:lang="fr">Gabarit menu accordéon</label>
        </template>
        <template name="breadcrumb" file="doPortletNavigateBreadcrumb.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit fil d'ariane</label>
        </template>
        <template name="footer" file="doPortletNavigateFooter.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit footer</label>
        </template>        
    </templates>
    <templates type="PortletQueryForeach">
        <template name="horizontalCard" file="doPortletQueryForeachHorizontalCard.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuile horizontale</label>
        </template>
        <template name="verticalCard" file="doPortletQueryForeachVerticalCard.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuile verticale</label>
        </template>
    </templates>       
    <templates type="PortletRechercheFacettes">
        <template name="default" file="doPortletRechercheFacettesSimple.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletResultatRechercheFacettes">
        <template name="default" file="doPortletResultatRechercheFacettesListMap.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit liste + carte</label>
        </template>
    </templates>
  </types>

  <java-classes>
    <java package="fr.cg44.plugin.socle"/>   
  </java-classes>

  <plugincomponents>
    <channellistener class="fr.cg44.plugin.socle.channellistener.SocleChannelListener" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.FicheArticleDataController" types="FicheArticle" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.IndexationDataController" types="Publication" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.SoclePortalPolicyFilter" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.PublicationFacetedSearchCityEnginePolicyFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.CityQueryFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.SectorisationQueryFilter" />
  </plugincomponents>
    
  <private-files>
    <file path="properties/plugin.prop" />
    <file path="properties/languages/fr.prop" />
    <file path="c.tld" />
    <file path="wysiwyg/configuration-charteconfig.conf" />
    <file path="wysiwyg/configuration-simple.conf" />
    <file path="wysiwyg/configuration-styles.conf" />
  </private-files>
  <public-files>
    <directory path="docs" />
    <directory path="css" />
    <directory path="js" />
    <directory path="jsp" />
    <directory path="types" />
    <file path="jsp/jcore/topbar/displayTopbar.jsp" include="DISPLAY_BEFORE_RENDER"/>
    <file path="jsp/addCustomCss.jsp" include="EMPTY_HEADER"/>
    <file path="jsp/addCustomJs.jsp" include="EMPTY_FOOTER"/>  
    <file path="jsp/reprise/repriseFicheLieuLink.jsp" include="ADMIN_OPERATION" />
    <file path="jsp/reprise/repriseAutresTypesLink.jsp" include="ADMIN_OPERATION" />
    <file path="types/FicheArticle/ficheArticleSimple.jspf" />
    <file path="types/FicheArticle/ficheArticleOnglets.jspf" />
    <file path="types/FicheArticle/doFicheArticleEncadre.jspf" />
  </public-files>
  <webapp-files>
    <file path="WEB-INF/tags/categoryList.tag" />
    <file path="WEB-INF/tags/levelTwoMenu.tag" />
    <file path="WEB-INF/tags/menuLink.tag" />
    <file path="WEB-INF/tags/toggle.tag" />
    <file path="WEB-INF/tags/card.tag" />
    <file path="WEB-INF/tags/titleBanner.tag" />
    <file path="WEB-INF/tags/titleNoBanner.tag" />
    <file path="WEB-INF/tags/titleSimple.tag" />
    <file path="jcore/doEmptyHeader.jspf" />
    <file path="jcore/doEmptyFooter.jspf" />
  </webapp-files>  
</plugin>

