<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin PUBLIC "-//JALIOS//DTD JCMS-PLUGIN 1.7//EN" "http://support.jalios.com/dtd/jcms-plugin-1.7.dtd">

<plugin name="SoclePlugin" version="0.1" author="DEP44" license="DEP44" initialize="true" jcms="" order="0" url="" jsync="true" appserver="">

  <label xml:lang="fr">Socle technique</label>
  <description xml:lang="fr">Socle technique</description>

  <types>
    <type name="AbstractPortletFacette"></type>
    <type name="AccueilAnnuaireAgenda"></type>
    <type name="AccueilDelegation"></type>
    <type name="Action"></type>
    <type name="AlertCG"></type>
    <type name="ArticleGeolocalise"></type>
    <type name="CandidatureForm"><file path="editFormCandidatureForm.jsp" /></type>
    <type name="CandidatureSpontaneeForm"><file path="editFormCandidatureSpontaneeForm.jsp" /></type>
    <type name="Canton"></type>
    <type name="Carousel"></type>
    <type name="CarouselElement"></type>
    <type name="Chapitre"></type>
    <type name="ChiffresCles"></type>
    <type name="City"></type>   
    <type name="CollectivityArticle"></type>
    <type name="CommuneHorsDepartement"></type>
    <type name="Contact"></type>
    <type name="ContactForm"><file path="editFormContactForm.jsp" /></type>
    <type name="ContenuPush"></type>
    <type name="CultureProfessionalCard"></type>
    <type name="Delegation"></type>
    <type name="Directory"></type>
    <type name="Dossier"></type>
    <type name="ElectedMember"></type>
    <type name="Equipement"></type>
    <type name="EvenementInfolocale"></type>
    <type name="Exposition"></type>
    <type name="FALC"></type>
    <type name="FaqAccueil"></type>
    <type name="FicheActionEducative"></type>
    <type name="FicheActu"></type>
    <type name="FicheAide"></type>  
    <type name="FicheArticle"></type>
    <type name="FicheEmploiStage"></type>
    <type name="FicheEquipement"></type>
    <type name="FicheLieu"></type>
    <type name="FichePublication"></type>
    <type name="FicheSAAD"></type>   
    <type name="Help"></type>
    <type name="Horaire"></type>
    <type name="Lien"></type>
    <type name="ListeDeContenus"></type>
    <type name="Magazine"></type>
    <type name="MarchePublic"></type>
    <type name="News"></type>
    <type name="OrganismeGestionnaire"></type>
    <type name="PageCarrefour"></type>
    <type name="PageUtileForm"><file path="editFormPageUtileForm.jsp" /></type>
    <type name="Place"></type>
    <type name="PortletAgendaInfolocale"></type>
    <type name="PortletCarousel"></type>
    <type name="PortletCarrouselDimagesHome"></type>
    <type name="PortletConteneurAgenda"></type>
    <type name="PortletFacetteAdresse"></type>
    <type name="PortletFacetteAgendaCategorie"></type>
    <type name="PortletFacetteAgendaAccessibilit"></type>
    <type name="PortletFacetteAgendaCommune"></type>
    <type name="PortletFacetteAgendaDate"></type>
    <type name="PortletFacetteCanton"></type>
    <type name="PortletFacetteCategorie"></type>
    <type name="PortletFacetteCategoriesLiees"></type>
    <type name="PortletFacetteCommune"></type>
    <type name="PortletFacetteCommuneAdresseLiee"></type>
    <type name="PortletFacetteDelegation"></type>
    <type name="PortletFacetteMotcle"></type>
    <type name="PortletFacetteTitre"></type>
    <type name="PortletFaq"></type>
    <type name="PortletMiseEnAvantDeContenus"></type>
    <type name="PortletNotesAPI"></type>
    <type name="PortletPush"></type>
    <type name="PortletRechercheFacettes"></type>
    <type name="PressCommunique"></type>
    <type name="ResultatDeRecherche"></type>
    <type name="SAAD"></type>
    <type name="Show"></type>
    <type name="SeniorCitizensEstablishment"></type>
    <type name="SportCommittee"></type>
    <type name="Temoignage"></type>
    <type name="Timeline"></type>
    <type name="TimelineElement"></type>
    <type name="Video"></type>

    
    
    <!-- Types de contenus -->    
    <templates type="AccueilAnnuaireAgenda">
        <template name="default" file="doAccueilAnnuaireAgendaFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
        <template name="agenda" file="doAccueilAnnuaireAgenda_Agenda.jsp" usage="agenda">
            <label xml:lang="fr">DS44 : gabarit agenda</label>
        </template>
        <template name="annuaire" file="doAccueilAnnuaireAgenda_Annuaire.jsp" usage="annuaire">
            <label xml:lang="fr">DS44 : gabarit annuaire</label>
        </template>
    </templates>
    <templates type="AccueilDelegation">
        <template name="default" file="doAccueilDelegationFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="AlertCG">
        <template name="default" file="doAlertCGFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Canton">
        <template name="default" file="doCantonFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>     
    <templates type="Carousel">
        <template name="default" file="doCarouselFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="CarouselElement">
        <template name="default" file="doCarouselElementFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Contact">
        <template name="default" file="doContactFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="City">
        <template name="default" file="doCityFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Dossier">
        <template name="default" file="doDossierFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Delegation">
        <template name="default" file="doDelegationFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="ElectedMember">
        <template name="default" file="doElectedMemberFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Equipement">
        <template name="default" file="doEquipementFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="Exposition">
        <template name="default" file="doExpositionFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FicheEquipement">
        <template name="default" file="doFicheEquipementFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>         
    <templates type="EvenementInfolocale">
        <template name="default" file="doEvenementInfolocaleFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FaqAccueil">
        <template name="default" file="doFaqAccueilFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates> 
    <templates type="FicheActionEducative">
        <template name="default" file="doFicheActionEducativeFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates> 
    <templates type="FicheActu">
        <template name="default" file="doFicheActuFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FicheAide">
        <template name="default" file="doFicheAideFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>    
    <templates type="FicheArticle">
        <template name="default" file="doFicheArticleFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FicheEmploiStage">
        <template name="default" file="doFicheEmploiStageFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FicheLieu">
        <template name="embed" file="doFicheLieuEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
        <template name="default" file="doFicheLieuFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="CollectivityArticle">
        <template name="embed" file="doCollectivityArticleEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
        <template name="refonte" file="doCollectivityArticleFullDisplayRefonte.jsp" usage="full">
            <label xml:lang="fr">Gabarit full pour la refonte</label>
        </template>
    </templates>
    <templates type="ContenuPush">
        <template name="default" file="doContenuPushFullDisplay.jsp" usage="full">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FileDocument">
        <template name="embed" file="doFileDocumentEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
        <template name="default" file="doFileDocumentFullDisplay.jsp" usage="full">
            <label xml:lang="fr">Gabarit full pour la refonte</label>
        </template>
    </templates>
    <templates type="Horaire">
        <template name="embed" file="doHoraireEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
    </templates>
    <templates type="News">
        <template name="default" file="newsQueryDisplay.jsp" usage="query">
            <label xml:lang="fr">Gabarit de résultats dans la page "Actualités"</label>
        </template>
        <template name="default" file="newsFullDisplay.jsp" usage="full">
            <label xml:lang="fr">Actualité en pleine page</label>
      </template>
    </templates>    
    <templates type="Video">
        <template name="embed" file="doVideoEmbedDisplay.jsp" usage="embed">
            <label xml:lang="fr">Gabarit imbriqué pour affichage dans un autre contenu</label>
        </template>
        <template name="default" file="doVideoFullDisplay.jsp" usage="full">
            <label xml:lang="fr">Gabarit full pour la refonte</label>
        </template>
    </templates>
    <templates type="PageCarrefour">
        <template name="default" file="doPageCarrefourFullDisplay.jsp" usage='full'>
            <label xml:lang="fr">DS44 : gabarit Spécifique</label>
        </template>
    </templates>
    <templates type="ListeDeContenus">
        <template name="default" file="doListeDeContenusFullDisplay.jsp" usage="full"> 
            <label xml:lang="fr">Gabarit full</label>
        </template>
        <template name="default" file="doListeDeContenusDocuments.jsp" usage="listeDocs">
            <label xml:lang="fr">Gabarit de liste de documents</label>
        </template>
        <template name="default" file="doListeDeContenusContacts.jsp" usage="listeContacts">
            <label xml:lang="fr">Gabarit de liste de contacts (fiche lieu)</label>
        </template>
    </templates>
    <templates type="Lien">
        <template name="default" file="doLienFullDisplay.jsp" usage="full"> 
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="FichePublication">
        <template name="default" file="doFichePublicationFullDisplay.jsp" usage="full"> 
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>        
    </templates>
    <templates type="Carousel">
        <template name="default" file="doCarouselSwiperOneBlocFullDisplay.jsp" usage="query">
            <label xml:lang="fr">DS44 : gabarit avec fondu à un seul bloc d'images</label>
        </template>
    </templates>
    <templates type="FicheSAAD">
        <template name="default" file="doFicheSAADFullDisplay.jsp" usage="full"> 
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="PressCommunique">
        <template name="default" file="doPressCommuniqueFullDisplay.jsp" usage="full"> 
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>     
    
    <!-- Portlets -->
    <templates type="AbstractPortletSkinable">
        <template name="simpleTitle" file="doAbstractPortletSkinableSimpleTitleResultDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : habillage simple titre</label>
        </template>
    </templates>    
    <templates type="PortletAgendaInfolocale">
        <template name="default" file="doPortletAgendaInfolocaleBoxDisplay.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
        <template name="vertical" file="doPortletAgendaInfolocaleBoxVerticalDisplay.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit liste verticale</label>
        </template>
        <template name="facet" file="doPortletAgendaInfolocaleFacettes.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit pour facettes</label>
        </template>
    </templates>
    <templates type="PortletCarrouselDimagesHome">
        <template name="default" file="doPortletCarrouselDimagesHomeBoxDisplay.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit à 2 blocs d'images</label>
        </template>
    </templates>
    <templates type="PortletConteneurAgenda">
        <template name="default" file="doPortletConteneurAgendaBoxDisplay.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit par défaut</label>
        </template>
    </templates>
    <templates type="PortletDecorator">
        <template name="dark" file="doPortletDecoratorFullDisplayDarkBackground.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit fond gris avec titre et description</label>
        </template>
        <template name="light" file="doPortletDecoratorFullDisplayLightBackground.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit fond clair avec titre et description</label>
        </template>
    </templates>
    <templates type="PortletFacetteAdresse">
        <template name="default" file="doPortletFacetteAdresseBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteAgendaCategorie">
        <template name="default" file="doPortletFacetteAgendaCategorieBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteAgendaAccessibilit">
        <template name="default" file="doPortletFacetteAgendaAccessibilitBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteAgendaCommune">
        <template name="default" file="doPortletFacetteAgendaCommuneBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteAgendaDate">
        <template name="default" file="doPortletFacetteAgendaDateBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteCanton">
        <template name="default" file="doPortletFacetteCantonBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteCategorie">
        <template name="default" file="doPortletFacetteCategorieBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteCategoriesLiees">
        <template name="default" file="doPortletFacetteCategoriesLieesBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteCommune">
        <template name="default" file="doPortletFacetteCommuneBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteCommuneAdresseLiee">
        <template name="default" file="doPortletFacetteCommuneAdresseLieeBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteDelegation">
        <template name="default" file="doPortletFacetteDelegationBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
        <template name="pdcv" file="doPortletFacetteDelegationPdcv.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit recherche PDCV en header</label>
        </template>
        <template name="pdcvsearch" file="doPortletSearchPdcv.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit de recherche PDCV en tuile</label>
        </template>
        <template name="pdcvsimple" file="doPortletSearchPdcvSimple.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit de recherche PDCV simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteMotcle">
        <template name="default" file="doPortletFacetteMotcleBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletFacetteTitre">
        <template name="default" file="doPortletFacetteTitreBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletLogin">
        <template name="espacepresse" file="doPortletLoginEspacePresse.jsp" usage='box'>
          <label xml:lang="fr">DS44 : Espace presse</label>
        </template>
    </templates>
    <templates type="PortletMiseEnAvantDeContenus">
        <template name="default" file="doPortletMiseEnAvantDeContenusBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
        <template name="tuiles1col" file="doPortletMiseEnAvantDeContenusBoxOneColumn.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuiles sur une colonne</label>
          <description xml:lang="fr">(ex : "Vos services en un clic")</description>
        </template>
        <template name="tuiles1colhome" file="doPortletMiseEnAvantDeContenusBoxOneColumnHome.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuiles sur une colonne pour page d'accueil</label>
          <description xml:lang="fr">(ex : "En un clic")</description>
        </template>        
        <template name="plusRecherches" file="doPortletMiseEnAvantDeContenusBoxPlusRecherches.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit bloc liste d'éléments simple</label>
          <description xml:lang="fr">(ex : "Contenus les plus recherchés")</description>
        </template>
        <template name="grille" file="doPortletMiseEnAvantDeContenusBoxGrid.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuiles en grille</label>
          <description xml:lang="fr">(ex : "Nos sites et applis")</description>
        </template>
        <template name="grilleIcone" file="doPortletMiseEnAvantDeContenusBoxGridIcon.jsp" usage='box'>
          <label xml:lang="fr">GPLA : gabarit tuiles en grille avec icone</label>
          <description xml:lang="fr">(ex : "Tous les sites patrimoniaux")</description>
        </template>
        <template name="grandsprojets" file="doPortletMiseEnAvantDeContenusBoxGrandsProjets.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit descrition à gauche / tuiles à droite</label>
          <description xml:lang="fr">(ex : "Grands projets")</description>
        </template>
        <template name="temoignages" file="doPortletMiseEnAvantDeContenusBoxTemoignages.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit témoignages</label>
          <description xml:lang="fr">(fonctionne uniquement pour types "Vidéo", "Articles", "Lien" et "Fiche actu")</description>
        </template> 
    </templates>
    <templates type="PortletNavigate">
        <template name="menuCollapse" file="doPortletNavigateMenuCollapseFullDisplay.jsp" usage='box'>
          <label xml:lang="fr">Gabarit menu accordéon</label>
        </template>
        <template name="breadcrumb" file="doPortletNavigateBreadcrumb.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit fil d'ariane</label>
        </template>
        <template name="footer" file="doPortletNavigateFooter.jsp" usage="box">
            <label xml:lang="fr">DS44 : gabarit footer</label>
        </template>        
    </templates>
    <templates type="PortletNotesAPI">
        <template name="default" file="doPortletNotesAPIBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletPush">
        <template name="default" file="doPortletPushBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="PortletQueryForeach">
        <template name="horizontalCard" file="doPortletQueryForeachHorizontalCard.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuile horizontale</label>
        </template>
        <template name="verticalCard" file="doPortletQueryForeachVerticalCard.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuile verticale</label>
        </template>
        <template name="contactStructure" file="doPortletQueryForeachContactStructure.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit contacts de structure</label>
        </template>
        <template name="card" file="doPortletQueryForeachCard.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit tuile pour démo</label>
        </template>        
    </templates>
    <templates type="PortletCarousel">
        <template name="sliderTrois" file="doPortletCarouselSliderThreePanels.jsp" usage="box">
          <label xml:lang="fr">DS44 : carrousel trois tuiles</label>
        </template>
        <template name="sliderQuatre" file="doPortletCarouselSliderFourPanels.jsp" usage="box">
          <label xml:lang="fr">DS44 : carrousel quatre tuiles</label>
        </template>
        <template name="sliderSix" file="doPortletCarouselSliderSixPanels.jsp" usage="box">
          <label xml:lang="fr">DS44 : carrousel six tuiles</label>
        </template>
    </templates>
    <templates type="PortletRechercheFacettes">
        <template name="default" file="doPortletRechercheFacettesBoxDisplay.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
        <template name="pdcv" file="doPortletRechercheFacettePdcv.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit de recherche PDCV</label>
        </template>
    </templates>
    <templates type="PortletSearch">
        <template name="header" file="doPortletSearchHeader.jsp" usage='box'>
          <label xml:lang="fr">DS44 : gabarit de recherche header</label>
        </template>
    </templates>
    <templates type="SeniorCitizensEstablishment">
        <template name="default" file="doSeniorCitizensEstablishmentFullDisplay.jsp" usage='full'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>
    <templates type="Show">
        <template name="default" file="doShowFullDisplay.jsp" usage='full'>
          <label xml:lang="fr">DS44 : gabarit générique simple</label>
        </template>
    </templates>    
  </types>

  <jars>
    <!-- utilisé pour la taglib interne -->
    <jar path="jstl-standard.jar" />
  </jars>
  <java-classes>
    <java package="fr.cg44.plugin.socle"/>   
  </java-classes>

  <plugincomponents>
    <channellistener class="fr.cg44.plugin.socle.channellistener.SocleChannelListener" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.PortletCarrouselDimagesHomeDataController" types="PortletCarrouselDimagesHome" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.FicheArticleDataController" types="FicheArticle" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.IndexationDataController" types="Publication" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.FichePublicationDataController" types="FichePublication" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.ContactFormDataController" types="ContactForm" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.CandidatureFormDataController" types="CandidatureForm" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.CandidatureSpontaneeFormDataController" types="CandidatureSpontaneeForm" />
    <datacontroller  class="fr.cg44.plugin.socle.datacontroller.FicheEmploiStageDataController" types="FicheEmploiStage" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.SoclePortalPolicyFilter" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.PublicationFacetedSearchCityEnginePolicyFilter" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.PublicationFacetedSearchCantonEnginePolicyFilter" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.PublicationFacetedSearchGeolocEnginePolicyFilter" />
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.WysiwygPolicyFilter" />   
    <policyfilter    class="fr.cg44.plugin.socle.policyfilter.InfoLocaleChannelPolicyFilter" />  
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.CityQueryFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.CantonQueryFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.DelegationQueryFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.TitleQueryFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.SectorisationQueryFilter" />
    <queryfilter     class="fr.cg44.plugin.socle.queryfilter.IgnoreQueryFilter" />
  </plugincomponents>
  
  <hibernate>
     <mapping resource="fr/cg44/plugin/socle/hbm/FacetSearch.hbm.xml"/>     
  </hibernate>
    
  <private-files>
    <file path="properties/plugin.prop" />
    <file path="properties/languages/fr.prop" />
    <file path="properties/languages/en.prop" />
    <file path="c.tld" />
    <file path="wysiwyg/configuration-charteconfig.conf" />
    <file path="wysiwyg/configuration-simple.conf" />
    <file path="wysiwyg/configuration-styles.conf" />
  </private-files>
  <public-files>
    <directory path="docs" />
    <directory path="jsp" />
    <directory path="types" />
    <directory path="wysiwyg" />
    <directory path="images" />
    <file path="jsp/jcore/topbar/displayTopbar.jsp" include="DISPLAY_BEFORE_RENDER"/>
    <file path="jsp/addCustomCss.jsp" include="EMPTY_HEADER"/>
    <file path="jsp/addCustomJs.jsp" include="EMPTY_FOOTER"/>  
    <file path="jsp/reprise/repriseFicheLieuLink.jsp" include="ADMIN_OPERATION" />
    <file path="jsp/reprise/repriseAutresTypesLink.jsp" include="ADMIN_OPERATION" />
    <file path="jsp/reprise/repriseContenuContactLink.jsp" include="ADMIN_OPERATION" />
    <file path="jsp/reprise/contenusSansGeolocLink.jsp" include="ADMIN_OPERATION" />
    <file path="jsp/reprise/documentSansContenusLiesLink.jsp" include="ADMIN_OPERATION" />
    <file path="jsp/reprise/expireSpectaclesLink.jsp" include="ADMIN_OPERATION" />   
    <file path="jsp/export/exportLink.jsp" include="ADMIN_OPERATION" />
    <file path="types/FicheArticle/ficheArticleSimple.jspf" />
    <file path="types/FicheArticle/ficheArticleOnglets.jspf" />
    <file path="types/FicheArticle/doFicheArticleEncadre.jspf" />
    <file path="jsp/rgpd/orejimeConfig.jsp" include="EMPTY_HEADER_BODY_START" />
    <file path="jsp/portal/retourFacettesListe.jsp" include="EMPTY_HEADER" />
    <file path="jsp/include/includePortletQueryForeachAlert.jsp" include="SOCLE_ALERTE" />
  </public-files>
  <webapp-files>
    <file path="types/PortletSelection/doSelection.jspf" />
    <file path="WEB-INF/tags/articleVideo.tag" />
    <file path="WEB-INF/tags/card.tag" />
    <file path="WEB-INF/tags/carrousel.tag" />
    <file path="WEB-INF/tags/categoryList.tag" />
    <file path="WEB-INF/tags/categoryTree.tag" />
    <file path="WEB-INF/tags/facetteAgendaCategorieListElem.tag" />
    <file path="WEB-INF/tags/facetteAutoCompletion.tag" />
    <file path="WEB-INF/tags/facetteCategorie.tag" />
    <file path="WEB-INF/tags/facetteCategorieListElem.tag" />
    <file path="WEB-INF/tags/figurePicture.tag" />
    <file path="WEB-INF/tags/levelTwoMenu.tag" />
    <file path="WEB-INF/tags/message.tag" />
    <file path="WEB-INF/tags/menuLink.tag" />
    <file path="WEB-INF/tags/pdcvSearchFields.tag" />
    <file path="WEB-INF/tags/phone.tag" />
    <file path="WEB-INF/tags/push.tag" />    
    <file path="WEB-INF/tags/titleBanner.tag" />
    <file path="WEB-INF/tags/titleDelegation.tag" />
    <file path="WEB-INF/tags/tuileContenuEnAvant.tag" />
    <file path="WEB-INF/tags/tuileContenuEnAvant.tag" />
    <file path="WEB-INF/tags/titleNoBanner.tag" />
    <file path="WEB-INF/tags/titleSimple.tag" />
    <file path="WEB-INF/tags/titleNoImage.tag" />
    <file path="WEB-INF/tags/tuileSlider.tag" />
    <file path="WEB-INF/tags/toggle.tag" />
    <file path="WEB-INF/tags/tooltip.tag" />
    <file path="jcore/doEmptyHeader.jspf" />
    <file path="jcore/doEmptyFooter.jspf" />
    <file path="manifest.json" />
    <file path="browserconfig.xml" />
    <file path="custom/jcms/doCustomHeader.jsp" />
  </webapp-files>  
</plugin>

